searchguard:
  dynamic:
    proxy_auth_domain:
      enabled: true
      order: 0
      http_authenticator:
        type: proxy
        challenge: false
        config:
          user_header: "x-proxy-user"
          roles_header: "x-proxy-roles"
      authentication_backend:
        type: noop
    authc:
      basic_internal_auth:
        enabled: true
        order: 1
        http_authenticator:
          type: basic
          challenge: true
        authentication_backend:
          type: internal